<app-nav></app-nav>
<div class="table-responsive small container">
  <h2>Borrowed books with relevent borrower<br /><br /></h2>
  <table class="table table-striped table-sm table-hover">
    <thead class="sticky-header">
      <tr>
        <th scope="col">Transaction ID</th>
        <th scope="col">Borrower ID</th>
        <th scope="col">Borrowed Books</th>
        <th scope="col">Date</th>
        <th scope="col">Fine</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let transaction of transactionList">
        <td>{{ transaction.id }}</td>
        <td>{{ transaction.borrowerId }}</td>
        <td>{{ transaction.bookIds }}</td>
        <td>{{ transaction.date }}</td>
        <td>{{ transaction.fine }}</td>
      </tr>
    </tbody>
  </table>
</div>
