
<div class="table-responsive small container">
    <h2>Library Book List <br /><br /></h2>
    <table class="table table-striped table-sm">
      <thead class="sticky-header">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Borrowed Date</th>
          <th scope="col">Book ID</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let borrower of borrowerList">
          <td>#BN{{ borrower.id }}</td>
          <td>{{ borrower.name }}</td>
          <td>{{ borrower.address }}</td>
          <td>{{ borrower.borrowed_date }}</td>
          <td>{{ borrower.book_id }}</td>
          <td>
            <button
              (click)="setSelectedBorrower(borrower)"
              class="btn btn-danger"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              <i class="bi bi-trash3-fill"></i>
            </button>
            &nbsp;
            <button
              (click)="setSelectedBorrower(borrower)"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#updatemodel"
            >
              <i class="bi bi-pencil-square"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!-- delete Modal  -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Delete Confirmation
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          Do you want to delete '{{ selectedBorrower?.name }}' book?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button
            type="button"
            (click)="deleteBorrower()"
            class="btn btn-danger"
            data-bs-dismiss="modal"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- update modal -->
  <div class="modal fade" id="updatemodel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">ID:</label>
              <input type="text" value={{selectedBorrower?.id}} disabled class="form-control" id="recipient-name">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Name:</label>
              <input type="text" value={{saveBorrower?.name}} disabled class="form-control" id="recipient-name">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Address:</label>
              <input type="text" [(ngModel)]="selectedBorrower && selectedBorrower.address" [ngModelOptions]="{standalone: true}"  class="form-control" id="recipient-name">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Borrowed Date:</label>
              <input type="text" [(ngModel)]="selectedBorrower && selectedBorrower.borrowed_date" [ngModelOptions]="{standalone: true}"  class="form-control" id="recipient-name">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Book Id:</label>
              <input type="text" [(ngModel)]="selectedBorrower && selectedBorrower.book_id" [ngModelOptions]="{standalone: true}"  class="form-control" id="recipient-name">
            </div>
            <!-- <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Action:</label>
              <input type="text" [(ngModel)]="saveBorrower && selectedBorrower.category" [ngModelOptions]="{standalone: true}"  class="form-control" id="recipient-name">
            </div> -->
            <!-- <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Author:</label>
              <input type="text" [(ngModel)]="selectedBook && selectedBook.author" [ngModelOptions]="{standalone: true}"  class="form-control" id="recipient-name">
            </div> -->
            <!-- <div class="mb-3">
              <label for="recipient-name" class="col-form-label">QTY:</label>
              <input type="text" [(ngModel)]="selectedBook && selectedBook.qty" [ngModelOptions]="{standalone: true}" class="form-control" id="recipient-name">
            </div> -->
            
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="saveBorrower()" >Send message</button>
        </div>
      </div>
    </div>
  </div>